<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" />
        <bindingRedirect oldVersion="2.2.0.0-2.6.3.862" newVersion="2.6.3.862" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>